// Import Google fonts
@import url("https: //fonts.googleapis.com/css?family=Montserrat:400,500");
// Define fonts for body and headers
$body-font: 'Montserrat',
sans-serif;
$headers-font: 'Montserrat',
sans-serif;
$base-font: 'Montserrat',
sans-serif;
$header-font: 'Montserrat',
sans-serif;