@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i|Tajawal:400,700,800")


$primary: #004066;
$highlight: #FFC417;

$base-font: 'Tajawal', sans-serif;
$header-font: 'Lora', serif;
