.animation {
  body {
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  }
  div {
    margin: 0 !important;
    padding: 0 !important;
  }
}

.wrapper-train {
  height: 1080px;
  width: 1920px;
  margin: auto;
  background: #280744;
  overflow: hidden !important;
}
.background-train {
  height: 1080px;
  width: 1920px;
  background: url(https://docs.google.com/uc?export=download&id=0B2PO2Lr7Bv2QSXhkaG1VaEhSTjA);
  background-repeat: repeat-x;
  background-position: top center;
  background-size: contain;
}

.rocks_1 {
  position: absolute;
  bottom: -5px;
  height: 315px;
  width: 1920px;
  background: url(https://docs.google.com/uc?export=download&id=0B2PO2Lr7Bv2QckJsSTBOSmdsYmc);
  background-repeat: repeat-x;
  background-position: top center;
  background-size: contain;
  animation: translateX 100s infinite linear both;
}
.rocks_2 {
  position: absolute;
  bottom: -60px;
  height: 315px;
  width: 1920px;
  background: url(https://docs.google.com/uc?export=download&id=0B2PO2Lr7Bv2QSC1sYnVUWUxKSGs);
  background-repeat: repeat-x;
  background-position: top center;
  background-size: contain;
  animation: translateX 30s infinite linear both;
}
.rails {
  position: absolute;
  bottom: -110px;
  height: 315px;
  width: 1920px;
  background: url(https://docs.google.com/uc?export=download&id=0B2PO2Lr7Bv2QZmtCbjlIbjVwclk);
  background-repeat: repeat-x;
  background-position: top center;
  background-size: contain;
  animation: translateX 5s infinite linear both;
}
.train {
  position: absolute;
  bottom: -105px;
  height: 315px;
  width: 1500px;
  right: 0px;
  background: url(https://docs.google.com/uc?export=download&id=0B2PO2Lr7Bv2QandQOVZSTjBETGs);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
}
.ground {
  position: absolute;
  width: 1920px;
  height: 98px;
  bottom: 0px;
  background: #16012f;
}
.lights {
  position: absolute;
  bottom: -39px;
  height: 315px;
  width: 1920px;
  background: url(https://docs.google.com/uc?export=download&id=0B2PO2Lr7Bv2QNTJ1U2M1eFptSTA);
  background-repeat: repeat-x;
  background-position: top center;
  background-size: contain;
  animation: translateX 4s infinite linear both;
}
.moon {
  position: absolute;
  top: 20%;
  height: 315px;
  left: 200px;
  width: 120px;
  background: url(https://docs.google.com/uc?export=download&id=0B2PO2Lr7Bv2QRTVYeVFoYVppeUU);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
}

@keyframes translateX {
  0% {background-position: 0px 0px;}
  100% {background-position:  1920px 0px;}
}

#download_button {
  background-color: #42f456;
  color: white;
  transition: background 0.3s ease;
  text-shadow: 0.5px 0.5px #a2a2a2;
  border-radius: 6px;
}

#download_button:hover {
  opacity: 1;
  background-color: #a3ffad;
  color: white;
  text-shadow: 0.5px 0.5px #a2a2a2;
}

#download_button::before {
  padding-right: 10px;
  font-family: "FontAwesome";
}

.confirmation_box {
  position:absolute;
  z-index:100;
  left:40%;
  top:0;
  color: black;
  box-shadow: 0px 0px 19px 0px black;
  font-size: 30px;
  padding: 40px;
  margin-top: 150px;
  text-align: center;
}

// .confirming_details {
//   background-color: #004066;
//   margin-right: auto;
//   margin-left: auto;
//   margin-bottom: 15px;
//   margin-top: 15px;
//   text-align: center;
//   justify-content: center;
//   padding: 20px 10px;
//   color: white;
//   border-radius: 15px;
//   font-family: 'Montserrat', sans-serif;
// }

// .booking_reference {
//   background-color: #004066;
//   margin-right: auto;
//   margin-left: auto;
//   margin-bottom: 15%;
//   margin-top: 10%;
//   text-align: center;
//   justify-content: center;
//   padding: 20px 10px;
//   color: white;
//   border-radius: 15px;
//   font-family: 'Montserrat', sans-serif;
// }

.confirmation,
.animation {
  transition: visibility 0s linear 0.7s, opacity 0.7s ease-in-out;
}
