p .profile-text {
  color: white;
}

.text-center .dash-h3 {
  padding: 33px;
}

.button-card {
  display: flex;
  #left {
    padding: 0px 4px;
    border-right: 1px solid #e3e7ed;
    opacity: 0.75;
  }
  #right {
    opacity: 0.75;
    padding: 0px 4px;
  }
  #left p {
    opacity: 0.75;
  }
  #right p {
    opacity: 0.75;
  }
}

.card-information {
  #report {
    opacity: 0.75;
  }
}

.notification-num {
  position: absolute;
  top: -10px;
  right: -10px;
  background: #00c853;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
}

#sold-tab {
  position: relative;
}