
 .container_ticket_box {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 130px 150px;
  font-family: 'Lora', serif;
  -webkit-box-shadow: -1px 1px 3px 0px rgba(179, 177, 179, 0.76);
 -moz-box-shadow: -1px 1px 3px 0px rgba(179, 177, 179, 0.76);

}

.container_ticket_deets {
background-color: #004066;
margin-right: auto;
margin-left: auto;
text-align: center;
justify-content: center;
padding: 50px 30px;
color: white;
border-radius: 15px;
font-family: 'Tajawal', sans-serif;
box-shadow: 20px;

}


.container_ticket_header {
  padding: 50px 30px;
  background-color: #004066;
  color: white;
   margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-size: 50px;
    justify-content: center;
    font-style: 'Tajawal', sans-serif;
    border-radius: 10px;
    margin-bottom: 20px;
}

p.price {
  text-align: center;
}
.price {
  text-align: center;
}

p.name_seller {
  text-align: center;
}
