<html>

<head>
  <meta charset="utf-8">
  <title>Product page</title>
</head>
<body>
  <div class="profile-header-wrapper">
    <div class="container profile-header-container text-center">
      <div class="profile-header-infos">
        <img src="https://pbs.twimg.com/profile_images/962848809675051011/Q64FBwKg_400x400.jpg" alt="">
        <h1>Lui</h1>
        <h2>Sold 12 tickets</h2>
      </div>
      <div class="tabs">
        <a class="tab active" href="#">
          <h3>Buying</h3>
        </a>
        <a class="tab" href="#">
          <h3>Selling</h3>
        </a>
        <a class="tab" href="#">
          <h3>Requesting</h3>
        </a>
        <a class="tab" href="#">
          <h3>Reporting</h3>

        </a>
      </div>
    </div>
  </div>
</body>

</html>