<div class="footer">
  <div class="footer-links">
   <div class="fb-like" data-href="https://www.facebook.com/easyticks/" data-layout="button" data-action="recommend" data-size="large" data-show-faces="true" data-share="true"></div>
   <!--
   <a href="https://www.facebook.com/Easyticks-235753600530517/">  Follow us on <i class="fab fa-facebook-f"></i></a> -->
  </div>
  <div class="footer-copyright">
    <a href="easyticks.com" target="_blank"> Easyticks.com © 2018 </a>
  </div>
</div>


