<div class="container booking_reference">
  Congrats ! You're set to go to <%= @ticket[:arrival_city] %> on <%= @ticket[:date] %>. Here's your booking reference <%= @ticket[:booking_reference] %> under the name <%= @ticket[:seller_id] %>.
</div>
