<!-- profile: 300x300  -->
<!-- poster: 136x190 -->
<!-- thumbnail: 320x240 -->

<div class="l-container">

  <ul>

    <li class="list" data-name="JoeBrown">
      <!-- Profile Section -->
      <div class="list__profile">
        <div> <img src="https://pbs.twimg.com/profile_images/984678118509109248/_lKShg6s_400x400.jpg"> </div>
        <div class="list__label">
          <div class="list__label--value"> Joe B. </div>
        </div>
        <div class="list__label__verified">
          <div class="list__label--value-verified"> Verified </div>
        </div>
      </div>
      <!-- Photo Thumbnail Section -->
      <div class="list__photos">
        <span> <img src="http://placehold.it/320x240"> </span>
        <span> <img src="http://placehold.it/320x240"> </span>
        <span> <img src="http://placehold.it/320x240"> </span>
      </div>
    </li>
  </ul>

</div>