<!-- profile: 300x300  -->
<!-- poster: 136x190 -->
<!-- thumbnail: 320x240 -->

<div class="l-container">

  <ul>

    <li class="list" data-name="JoeBrown">
      <!-- Profile Section -->
      <div class="list__profile">
        <div> <img src="https://pbs.twimg.com/profile_images/984678118509109248/_lKShg6s_400x400.jpg"> </div>
        <div class="list__label">
          <div class="list__label--value"> Joe B. </div>
        </div>
        <div class="list__label__verified">
          <div class="list__label--value-verified"> Verified </div>
        </div>
        <div class="list__label__itinerary">
          <div class="list__label--value-itinerary"> London → Paris </div>
        </div>
        <div class="list__label__itinerary__details">
          <div class="list__label--value-itinerary--details"> ○ London Central Station </div>
        </div>
        <div class="list__label__itinerary__details__second">
          <div class="list__label--value-itinerary--details--second"> ○ Paris Central Station </div>
        </div>
        <div class="list__label__date">
          <div class="list__label--value-date"> May 31 </div>
        </div>
      </div>
      <!-- Photo Thumbnail Section -->
      <div class="list__photos">
        <span> <a href="#" class="btn-buy">Buy now</a> </span>
        <span> <a href="#" class="btn-info">Info</a> </span>
      </div>
    </li>
  </ul>

</div>