<div class="wrapper">
  <div class="container">
    <div class="card">
      <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
      <a class="card-link" href="#" ></a>
      <div class="card-description">
        <h2>Dan k.</h2>
        <p class="verified"><i class="fas fa-user-check"></i> Verified</p>
      </div>
      <div class="card-description destination">
        <h2>London → Paris</h2>
        <p class="grey-text">○ London central station</p>
        <p class="grey-text">○ Paris central station</p>
      </div>
      <div class="card-description date">
        <h2>May 23, 17:53</h2>
      </div>
      <a href="#" class="card-category btn-treehouse">Buy now</a>
    </div>
    <div class="card">
      <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
      <a class="card-link" href="#" ></a>
      <div class="card-description">
        <h2>Dan k.</h2>
        <p class="verified"><i class="fas fa-user-check"></i> Verified</p>
      </div>
      <div class="card-description destination">
        <h2>London → Paris</h2>
        <p class="grey-text">○ London central station</p>
        <p class="grey-text">○ Paris central station</p>
      </div>
      <div class="card-description date">
        <h2>May 23, 17:53</h2>
      </div>
      <a href="#" class="card-category btn-treehouse">Buy now</a>
    </div>
    <div class="card">
      <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
      <a class="card-link" href="#" ></a>
      <div class="card-description">
        <h2>Dan k.</h2>
        <p class="verified"><i class="fas fa-user-check"></i> Verified</p>
      </div>
      <div class="card-description destination">
        <h2>London → Paris</h2>
        <p class="grey-text">○ London central station</p>
        <p class="grey-text">○ Paris central station</p>
      </div>
      <div class="card-description date">
        <h2>May 23, 17:53</h2>
      </div>
      <a href="#" class="card-category btn-treehouse">Buy now</a>
    </div>
    <div class="card">
      <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
      <a class="card-link" href="#" ></a>
      <div class="card-description">
        <h2>Dan k.</h2>
        <p class="verified"><i class="fas fa-user-check"></i> Verified</p>
      </div>
      <div class="card-description destination">
        <h2>London → Paris</h2>
        <p class="grey-text">○ London central station</p>
        <p class="grey-text">○ Paris central station</p>
      </div>
      <div class="card-description date">
        <h2>May 23, 17:53</h2>
      </div>
      <a href="#" class="card-category btn-treehouse">Buy now</a>
    </div>
    <div class="card">
      <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
      <a class="card-link" href="#" ></a>
      <div class="card-description">
        <h2>Dan k.</h2>
        <p class="verified"><i class="fas fa-user-check"></i> Verified</p>
      </div>
      <div class="card-description destination">
        <h2>London → Paris</h2>
        <p class="grey-text">○ London central station</p>
        <p class="grey-text">○ Paris central station</p>
      </div>
      <div class="card-description date">
        <h2>May 23, 17:53</h2>
      </div>
      <a href="#" class="card-category btn-treehouse">Buy now</a>
    </div>
  </div>
</div>







