.btn-treehouse {
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  background: #FFC417;
  transition: background 0.3s ease;
  top: 80px;
}

.btn-treehouse:hover {
  opacity: 1;
  background: rgb(252, 201, 48);
  text-decoration: none;
  color: white;
}

.btn-treehouse:hover {
  opacity: 1;
  background: rgb(252, 201, 48);
  text-decoration: none !important;
  color: white;
}