// .card::after {
//   content: "";
//   border-radius: 5px;
//   position: absolute;
//   z-index: -1;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
//   opacity: 0;
//   -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
//   transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
// }
.card {
  height: 150px;
  background-color: white;
  background-size: cover !important;
  background-position: center;
  color: rgba(51, 51, 51, 0.918);
  position: relative;
  padding: 40px;
  margin: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.card::after {
  content: "";
  border-radius: 3px;
  z-index: -1;
  box-shadow: 3px 1px 4px 0px #b411112b;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.card:hover {
  -webkit-transform: scale(1.01, 1.01);
  transform: scale(1.01, 1.01);
}

.card:hover::after {
  opacity: 1;
}

.card-user {
  position: absolute;
  left: 20px;
  top: 30px;
  width: 70px;
  img {
    border-radius: 50%;
    box-shadow: 1px 1px 10px 0px #00000040;
  }
}

.card-category {
  position: absolute;
  top: 555px;
  right: 20px;
  font-size: 15px;
  text-transform: uppercase;
}

.card-description {
  position: absolute;
  bottom: 40px;
  left: 110px;
}

.destination {
  position: absolute;
  left: 300px;
  bottom: 20px;
}

.date {
  position: absolute;
  left: 525px;
  bottom: 50px;
}

.time {
  position: absolute;
  left: 525px;
  bottom: 22px;
}

.card-description h2 {
  font-size: 24px;
}

.card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}

.card-link:hover {
  opacity: 0.1;
}

.verified {
  i {
    font-size: 14px;
  }
  color: #02c852;
  text-align: left;
}

.price {
  left: 755px;
  top: 10px;
}

#ticket-price {
  font-size: 40px;
}

#euro {
  font-size: 20px;
}

.buy-link {
  color: white;
}

.buy-link:hover {
  color: white;
}

.label-green {
  background: #1DBC72;
  color: white;
  padding: 1px 2px;
  font-weight: light;
  font-size: 12px;
  border-radius: 2px;
  transition: background 0.3s ease;
  top: 10px;
  right: 25px;
}

.label-green p {
  margin: 0px;
}

.sold-card {
  background: linear-gradient(0, 0, 0, 0.6);
  opacity: 0.6;
}

.empty-card {
  border: 2px dashed rgba(160, 158, 158, 0.39);
  background-color: rgb(255, 255, 255);
}

.empty-card-text {
  margin: 0px;
  padding-top: 15px;
}

.wrapper-dashboard {
  flex: 1;
}

.card-ticket {
  display: flex;
  height: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.card-detail {}

.card-detail-user {
  flex: 0 1 25%;
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  background: #1b4c9b14;
}

.card-detail-route {
  flex: 1;
  background: white;
  .card-information {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 50px;
    h2 {
      font-weight: 700;
      span {
        font-weight: 400;
        opacity: 0.75;
        margin-left: 5px;
      }
    }
  }
}

.card-information {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  img {
    width: 75px;
    height: 75px;
  }
  h2 {
    font-size: 24px;
    margin-bottom: 5px;
    margin-top: 0px;
  }
  p {
    font-size: 16px;
    &:last-child {
      margin-bottom: 0px;
    }
  }
}

.card-detail-price {
  flex: 0 1 20%;
  background: white;
  text-align: right;
  border-left: 1px solid rgba(0, 0, 0, 0.05);
  .card-information {
    flex-direction: column;
  }
  h2 {
    font-size: 32px;
    font-weight: 700;
  }
  p {
    font-size: 14px;
    opacity: 0.25;
  }
  span {
    font-weight: 400;
    font-size: 24px;
    margin-right: 7.5px;
  }
}

.card-information-route {
  i {
    opacity: 0.5;
    margin-right: 10px;
    font-size: 10px;
  }
  p {
    display: flex;
    align-items: center;
  }
}

.card-information-details {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 30px;
  justify-content: center;
}

.card-information-route {
  position: relative;
  .line {
    height: 26px;
    background: black;
    width: 2px;
    position: absolute;
    left: 4.2px;
    top: 16px;
    opacity: 0.25;
  }
}

.route-information {
  padding: 5px 10px;
  background: #1B4C9B;
  border-radius: 3px;
  color: white;
  font-size: 14px !important;
  margin-top: 10px;
  margin-bottom: 15px;
}

.route-icon {
  margin-right: 10px;
  opacity: 0.5;
  font-size: 14px;
}

.mute {
  opacity: 0.5;
}

.red {
  color: red;
}