/* VARIABLES ==================== */
$border-radius: 5px;
$nav-height: 100px;
$nav-color: #242d33;
$button-submit-color: #3392cc;
$selected-color: lightgreen;

/* BASE ==================== */
@import 'https://fonts.googleapis.com/css?family=Open+Sans';

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: lighten(lightgrey, 5%);
  ul {
    padding: 0;
    list-style-type: none;
  }
}

img {
  width: 75px;
  margin: 7px 5px 5px 5px;
  border-radius: $border-radius;
}

button {
  border: none;
  font-size: 1em;
  transition: all 0.5s ease;
  cursor: pointer;
  &:focus {
    outline: 0;
  }
}

/* LAYOUT ==================== */
.l-nav {
  display: flex;
  position: fixed;
  width: 100%;
  height: $nav-height;
  background-color: $nav-color;

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    @media screen and (max-width: 1050px) {
      width: 95%;
    }
  }
  &__button {
    color: lighten(lightgrey, 5%);
    background-color: $button-submit-color;
    padding: 10px;
    text-align: center;
    width: 30%;
    border-radius: $border-radius;
    &:hover {
      background-color: darken($button-submit-color, 5%);
      color: white;
    }
  }
}

.l-container {
  @extend .l-nav__container;
  display: block;
  padding-top: $nav-height + 15px;
}

.list__label__verified {
  position: absolute;
  left: 105px;
  top: 50px;
}

.list__label--value-verified {
  font-size: 12px;
  color: green;
}

/* MODULE ==================== */
.list {
  display: flex;
  background-color: white;
  margin: 10px;
  padding: 5px;
  border-radius: $border-radius;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  position: relative;

  &:hover {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25), 0 5px 8px rgba(0, 0, 0, 0.22);
    cursor: pointer;
  }

  &__profile {
    display: flex;
    flex-grow: 1;
    text-align: left;
    justify-content: flex-start;
  }
  &__photos {
    display: flex;
    text-align: right;
    justify-content: flex-end;
    img {
      width: 100px;
      @media screen and (max-width: 400px) {
        width: 75px;
      }
    }
  }

  &__label {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    &--header {
      color: lighten(grey, 10%);
    }
    &--value {
      font-size: 18px;
    }
    position: absolute;
    left: -350px;
  }

  @media screen and (max-width: 650px) {
    flex-direction: column;
    &__profile {
      justify-content: center;
      margin: 10px;
    }
    &__label {
      width: 170px;
    }
    &__photos {
      justify-content: center;
    }
  }
}
/* STATE ==================== */
.is-list-selected {
  // background-color: $selected-color;
  background: #cb2d3e; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #cb2d3e, #ef473a);
  background: linear-gradient(to right, #cb2d3e, #ef473a);
  color: white;
}
