.card {
  height: 150px;
  background-color: white;
  background-size: cover !important;
  background-position: center;
  color: rgba(51, 51, 51, 0.918);
  position: relative;
  padding: 40px;
  margin: 10px;
}
.card-user {
  position: absolute;
  left: 20px;
  top: 30px;
  width: 70px;
  border-radius: 50%;
}
.card-category {
  position: absolute;
  top: 555px;
  right: 20px;
  font-size: 15px;
  text-transform: uppercase;
}
.card-description {
  position: absolute;
  bottom: 40px;
  left: 110px;
}

.destination {
  position: absolute;
  left: 300px;
  bottom: 20px;
}

.date {
  position: absolute;
  left: 650px;
  bottom: 50px;
}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}
.verified {
  color: green;
}
