.form-container {
  background: white;
  padding: 10px 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
}

.form-actions {
  width: 50%;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.ticket-container {
  background: white;
  padding: 10px 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
}

.ticket-actions {
  width: 50%;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.search_form_home {
  color: black;
  box-shadow: 0px 0px 19px 0px #00000038;
  margin-top: 10px;
  padding: 20px;
}

.search_form_index {
  color: black;
  box-shadow: 0px 0px 19px 0px black;
  margin-top: 100px;
  margin-left: 100px;
  margin: 40px;
}