.form-container {
  background: white;
  padding: 10px 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
}

.form-actions {
  width: 50%;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.ticket-container {
  background: white;
  padding: 10px 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  h2 {
    font-size: 25px;
    font-weight: lighter;
    margin-bottom: 30px;
    text-align: center;
  }
}

.ticket-action {
  background-color: #00c853;
  border: none;
  color: white;
  padding: 5px 15px 5px 15px;
  border-radius: 3px;
  margin-left: 85%;
}

.ticket-action:hover {
  background-color: #00c853c7;
}

.search_form_home {
  color: black;
  box-shadow: 1px 1px 3px 4px #0000001a;
  margin-top: 10px;
  padding: 25px;
  background-color: #f4f4f4;
  border-radius: 3px;
}

.search_form_index {
  color: black;
  box-shadow: 1px 1px 3px 4px #0000001a;
  padding: 25px;
  background-color: #f4f4f4;
  border-radius: 3px;
  text-align: center;
}

select {
  border-radius: 4px;
  background-color: #fff;
  border: 0.5px solid #e6e6e6;
  height: 40px;
  padding: 10px;
  color: grey;
}

input {
  border-radius: 4px;
  background-color: #fff;
  border: 0.5px solid #e6e6e6;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  color: grey;
}

.form-control-label {
  color: dimgrey
}

.form_submit {
  background-color: #FEC335;
  color: white;
  transition: background 0.3s ease;
  text-shadow: 0.5px 0.5px #a2a2a2;
}

.form_submit:hover {
  opacity: 1;
  background-color: rgb(255, 207, 95);
  color: white;
  text-shadow: 0.5px 0.5px #a2a2a2;
}

.form_submit::before {
  padding-right: 10px;
  font-family: "FontAwesome";
  content: "\f015";
}

.edit_user {
  color: #00000082;
  font-size: medium;
}