@import url('components/avatar.css');
@import url('components/tabs.css');
@import url('components/profile_header.css');
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3 {
  font-family: 'Montserrat', sans-serif;
}

a:hover,
a:focus {
  color: #01121b;
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.phone-container {
  max-width: 900px;
  margin: 0 auto;
  border-radius: 15px;
  box-shadow: 1px 1px 16px 2px rgba(0, 0, 0, 0.05);
}

.nav-tabs>li>a {
  background-color: #054164d8;
  color: #f4f4f4;
  border: 1px solid #7777774d;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-radius: 3px;
  font-weight: lighter;
  box-shadow: 0 0 5px #0a0a0a52;
}

.nav-tabs>li>a:hover {
  background-color: #f4f4f4;
  color: #054164;
  border: none;
}

.if_verified {
  color: white;
  .edit-profile {
    border-radius: 3px;
    background-color: #042233;
    color: #f4f4f4;
    font-size: 14px;
  }
  .edit-profile:hover {
    border-radius: 3px;
    background-color: #f4f4f4;
    color: #054164;
    font-size: 14px;
  }
  .profile-information {
    margin: 10px;
  }
  .profile-header-container img {
    width: 100px;
    border-radius: 50%;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.2);
    border: #004066 1px solid;
  }
  .edit-profile {
    border-radius: 3px;
    background-color: #042233;
    color: #f4f4f4;
    font-size: 14px;
  }
  .edit-profile:hover {
    border-radius: 3px;
    background-color: #f4f4f4;
    color: #054164;
    font-size: 14px;
  }
  .profile-header-container img {
    width: 100px;
    border-radius: 50%;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.2);
    border: #004066 1px solid;
  }
  .nav-item:hover {
    background-color: #06486fba;
  }
  .nav>li>a:hover,
  .nav>li>a:focus {
    background-color: #06486fba;
  }
  .dashboard-tab {
    color: white;
  }
  .dashboard-tab:hover {
    color: #054164 !important;
    background-color: white;
  }
  .nav-link .dashboard-tab {
    margin: 0px;
  }
  .nav-tabs>li.active>a {
    color: blue;
  }
  .nav>li>a {
    color: red;
  }
  #buy-tab {
    margin: 0px;
    border: none;
    border-radius: 0px;
  }
  #buy-tab:hover {
    border-bottom: 1px solid #054164;
    background-color: white;
    color: #054164;
    border-radius: 0px;
  }
  #buy-tab:visited {
    border-bottom: 1px solid #054164;
    background-color: white !important;
    color: #054164 !important;
    border-radius: 0px;
  }
  #sell-tab {
    margin: 0px;
    border: none;
  }
  #sell-tab:hover {
    border-bottom: 1px solid #054164;
    background-color: white;
    color: #054164;
    border-radius: none;
  }
  .nav-link .active {
    color: #054164 !important;
  }
}

.settings {
  background-color: transparent;
  padding: 5px;
  border: none;
  color: #eff4f7;
  font-size: 14px;
}
